/* css reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* css variables */
:root{
    --navbar-height:59px;
}
/* body */
body{
    background-color:wheat;
}
/* navigation bar */
#navbar{
    position: absolute;
}
#navbar{
    display: flex;
    align-items: center;
}
/* logo and image */
#logo{
    margin: 13px 16px;
    /* margin-left: 0px; */
    margin-right: 10px;
}
#logo img{
    height: 46px;
    width: 59px;
    margin: 0px 0px;
    margin-right: 16px;
}
#navbar ul{
    display: flex;
    font-family: cursive;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    text-decoration: none;
}

#navbar ul li{
   /* color: white; */
 list-style: none;
 font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 23px;
    border-radius: 20px;
    text-decoration: none;
 }
#navbar ul li a:hover{
    color: black;
    background-color: white;
 }

 /* Home section part */
 #home{
     display: flex;
     flex-direction: column;
     padding: 3px 20px 100px;
     justify-content: center;
     padding-top: 100px;
     align-items: center; 
     height: 292px;
 }
 #home::before{
    content: "";
    background:url('p2.jpeg') /*no-repeat*/;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    text-decoration: none;
}
#home h1{
    color: white;
    text-align: center;
    font-family: cursive;
}
#home p{
    color: white;
    text-align: center;
    font-family: cursive;
}
/* utillity classes */
.h-primary{
    font-size: 2.8rem;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h-secondry{
    font-size: 1.8rem;
    padding: 12px;
    font-family: cursive;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(82, 11, 11);
    margin: 17px;
    opacity: 0.9;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.center{
    text-align: center;
    font-family: cursive;
}
/* services  */
#services{
margin: 1px;
display: flex;
}
#services .box{
    border: 2px solid brown;
}
h2{
    color: rgb(99, 8, 8);
}
.center{
    color: rgb(82, 4, 4);
}
.box{
    margin: 15px;
    background-color: rgba(112, 110, 110, 0.541);
    border-radius: 20px;
    padding: 10px;
}
#services .box img{
    height: 200px;
    margin: auto;
    display: block;
    padding: 15px;
}
 /* contact section */
 #contact{
     position: relative;
 }
 #contact::before{
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: -1;
     opacity: 0.7;
     background: url(p2.jpeg) no-repeat center center/cover;
 }
 footer{
     background:black;
     /* color: white; */
     height: 30px;
 }
 footer .center{
     color: white;
 }
 #contact-box input,
 #contact-box textarea{
width: 100%;
padding: 0.5rem;
border-radius: 9px;
font-size: 1.1rem;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: cursive;
}
